
#contenu { width:500 px; height:1000 px;
}

#titre { text-align:center; 
}

#date { width:250 px; float:left;
}

#localisation {width: 250 px; float:left;
}

#especes {width:500 px;
}

#bas_de_page {
}

h1{color:green;}
table{border: 1px solid green; color:forestgreen}
tr{background-color:white; color:forestgreen;}
td{border:1px solid green; color: forestgreen}
th{background-color:yellowgreen; color:white;}
body{color:black;
background-color:white;

}

